html {
    scroll-behavior: smooth;
}

body {
    font-family: iransans, serif !important;
}

h1 {
    font-family: iransans, serif !important;
}

h2 {
    font-family: iransans, serif !important;
}

h3 {
    font-family: iransans, serif !important;
}

h4 {
    font-family: iransans, serif !important;
}

h5 {
    font-family: iransans, serif !important;
}

.rtl {
    direction: rtl;
}

/*.product-row-container {
    padding: 0 8rem;
}*/

.square {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.square-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 1rem;
    font-size: 2.5vw;
}

.square-content p {
    font-size: 0.75rem;
    line-height: 17px;
}

.square-number {
    border: 1px white solid;
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
}

.square-number > p {
    position: relative;
    top: 25%;
    font-size: 1.5rem;
    color: white;
}

.square-icon {
    border: 1px white solid;
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 10px;
    left: 10px;
}

.square-icon i {
    position: relative;
    top: 25%;
    font-size: 1.2rem;
    color: white;
}

.yellow-bg {
    background: #ffcb08 !important;
    color: white;
}

.light-blue-bg {
    background: #c7dfea;
}

.blue-bg {
    background: #00aeef !important;
    color: white;
}

.red-bg {
    background: #ed1c24 !important;
    color: white;
}

ul > li {
    list-style: none;
}

.card > .card-body {
    direction: rtl !important;
}

/* middle section of page --> right image, left quote */
.feature-quote {
    padding: 4rem 7rem 4rem 14rem;
}

.feature-quote > p {
    font-size: 1.0rem;
    line-height: 27px
}

.feature-list {
    padding: 0 7rem 0 3rem;
    direction: rtl;
}

.feature-list h4 {
    font-weight: bold;
}

.feature-list p::before {
    content: 'check_circle_outline';
    font-family: "Material Icons", serif;
    font-size: 2.5rem;
    padding-left: 5px;
    font-weight: normal;
    visibility: hidden;
}

.feature-list h4::before {
    content: 'check_circle_outline';
    font-family: "Material Icons", serif;
    font-size: 2.5rem;
    padding-left: 5px;
    font-weight: normal;
}

#twitter,#linkedin,#instagram {
    padding-top: 5px;
}

#twitter:hover {
    background: #1ab2e8;
}

#linkedin:hover {
    background: #0077b5;
}

#instagram:hover {
    background: black;
}

@media (max-width: 768px) {
    /*.navbar-collapse {
        position: absolute;
        top: 54px;
        left: -100%;
        width: 100%;
        transition: all 0.4s ease;
        display: block;
        opacity: 0.8;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        left: -100%;
        margin-left: 1px;
        transition: all 0.2s ease;
        opacity: 0.9;
    }*/
    /*.navbar-collapse.nav-open {
        margin-left: 100%;
        transition: all 0.2s ease;
        opacity: 1;
    }*/
}

@media (max-width: 1200px) {
    .feature-quote {
        padding: 3rem;
    }

    /*.product-row-container {
        padding: 0 2rem;
    }*/

    .feature-list {
        padding: 3rem;
    }
}

